$header-text-color: rgb(255, 255, 255);

.header{
  background-color: rgb(25, 25, 25);
  &__content{
    padding: 137px 0 0 0;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 3px 2px;
    &-title{
      font-size: 40px;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $headers-font-regular;
      span{
        color: rgb(144, 200, 249);
      }
    }
    &-text{
      font-size: 28px;
    }
  }
}

.content{
  &--background{
    background-color: rgba(0, 0, 0, 0.760784);
  }
}

.header-content-background{
  background-size: cover;
  background: url("../images/headerbackground.jpg") no-repeat center center;
  color: $header-text-color;
}

