.main{
  margin: 70px 0 0 0;
}

/*Seo block START*/
.seo{
  position: relative;
  color: rgb(71, 71, 71);
  background-color: rgb(245, 245, 245);
  &__title{
    font-family: $seo-font-bold;
    font-size: 40px;
    text-align: center;
    position: relative;
    &::before{
      content: '';
      width: 0;
      width: 100%;
      top: -15px;
      left: 0;
      position: absolute;
      border-top: 1px solid #ccc;
    }
    &::after{
      content: '';
      width: 0;
      width: 100%;
      top: -12px;
      left: 0;
      position: absolute;
      border-top: 1px solid #ccc;
    }
  }
  &__partitions{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin: 0 0 20px 0;
    &::after{
      content: '';
      width: 100%;
      left: 0;
      bottom: -20px;
      position: absolute;
      border-bottom: 1px solid #ccc;
    }
    &::before{
      content: '';
      width: 100%;
      left: 0;
      bottom: -17px;
      position: absolute;
      border-bottom: 1px solid #ccc;
    }
    &__header{
      font-size: 30px;
      font-family: $seo-font;
      margin: 20px 0 30px 0;
      text-align: center;
      .useful{
        text-transform: uppercase;
        &--not{
          color: rgb(229, 56, 53);
        }
        &--yes{
          color: rgb(92, 184, 96);
        }
      }
    }
    &-items{
      font-family: $primary-font;
      font-size: 22px;
      position: relative;
      display: flex;
      flex-flow: row;
      align-items: center;
      &::before{
        content: '';
        height: 100%;
        left: 70px;
        position: absolute;
        border-left: 1px solid #ccc;
      }
      &::after{
          content: '';
          height: 100%;
          left: 68px;
          top: 0;
          position: absolute;
          border-left: 1px solid #ccc;
      }
      img{
        float: left;
        padding-right: 10px;
        width: 74px;
        margin-right: 10px;
      }
    }
  }
  @for $i from 1 through 2 {
    &__partition--#{$i} {
      width: 48%;
      display: flex;
      flex-flow: column;
      position: relative;
    }
    @if $i == 1 {
      &__partition--#{$i}{
        /*&::after{
          content: '';
          width: 0;
          height: 95%;
          top: 20px;
          position: absolute;
          right: -1px;
          border-left: 1px solid #ccc;
        }*/
      }
    } @else if($i == 2) {
      &__partition--#{$i}{
        p{
          width: 108%;
        }
        /*&::before{
          content: '';
          width: 0;
          height: 95%;
          top: 20px;
          position: absolute;
          left: -1px;
          border-left: 1px solid #ccc;
        }*/
        padding: 0 0 0 10px;
      }
    }
  }

  .zigzag-bottom{
    margin: 0 0 32px;
    padding: 3px 0;
    &::after{
      background:
              linear-gradient(-45deg, transparent 80px, rgb(245, 245, 245) 0),
              linear-gradient(45deg, transparent 80px, rgb(245, 245, 245)  0);
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 115px 61px;
      content: "";
      display: block;

      width: 100%;
      height: 61px;

      position: relative;
      top:64px;
      left:0px;
    }
  }

}
/*Seo block END*/

/*Audit Block START*/
.audit{
  margin: 120px 0 0 0;
  &-info{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 60px 0 0 0;
    border: 1px dotted #ccc;
    padding: 40px 0;
    &__item{
      width: 30%;
      img{
        width: 128px;
        height: 128px;
        display: block;
        margin: auto;
      }
      @each $tv in (h4, p) {
        #{$tv}{
          font-size: 22px;
          text-align: center;
        }
        @if $tv == h4 {
          #{$tv}{
            font-family: $headers-font-regular;
            font-weight: 800;
        }
        }
      }
    }
  }
}
/*Audit Block END*/